<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="extentlisteners.ListenerClass"></listener>

</listeners>

  <test thread-count="5" name="Test">
   <classes>
       
       <class name="yarnbiz.testcases.Home_Page_001"/> 
       <class name="yarnbiz.testcases.Home_Page_002"/>
             
       <class name="yarnbiz.testcases.Registration_Buyer_001"/>
       <class name="yarnbiz.testcases.Registration_Buyer_002"/>
       <class name="yarnbiz.testcases.Registration_Buyer_003"/>
       <class name="yarnbiz.testcases.Registration_Buyer_004"/> 
       <class name="yarnbiz.testcases.Registration_Buyer_005"/>        
       <class name="yarnbiz.testcases.Registration_Buyer_006"/>        
       <class name="yarnbiz.testcases.Registration_Buyer_007"/>        
              
       <class name="yarnbiz.testcases.Registration_Seller_001"/>
       <class name="yarnbiz.testcases.Registration_Seller_002"/>
       <class name="yarnbiz.testcases.Registration_Seller_003"/>
       <class name="yarnbiz.testcases.Registration_Seller_004"/>
       <class name="yarnbiz.testcases.Registration_Seller_005"/>
       <class name="yarnbiz.testcases.Registration_Seller_006"/>
       <class name="yarnbiz.testcases.Registration_Seller_007"/>
       
       <class name="yarnbiz.testcases.Login_Buyer_001"/>
       <class name="yarnbiz.testcases.Login_Buyer_002"/>
       <class name="yarnbiz.testcases.Login_Buyer_003"/>
       <class name="yarnbiz.testcases.Login_Buyer_004"/>
       <class name="yarnbiz.testcases.Login_Buyer_005"/>
       <class name="yarnbiz.testcases.Login_Buyer_006"/>
       <class name="yarnbiz.testcases.Login_Buyer_007"/>

       <class name="yarnbiz.testcases.Login_Seller_001"/>
       <class name="yarnbiz.testcases.Login_Seller_002"/>
       <class name="yarnbiz.testcases.Login_Seller_003"/>
       <class name="yarnbiz.testcases.Login_Seller_004"/>
       <class name="yarnbiz.testcases.Login_Seller_005"/>
       <class name="yarnbiz.testcases.Login_Seller_006"/>
      
       <class name="yarnbiz.testcases.Forgot_Password_Buyer_001"/>
       <class name="yarnbiz.testcases.Forgot_Password_Buyer_002"/>
       <class name="yarnbiz.testcases.Forgot_Password_Seller_001"/>
       <class name="yarnbiz.testcases.Forgot_Password_Seller_002"/>
       
       <class name="yarnbiz.testcases.Mini_Cart_001"/>
       <class name="yarnbiz.testcases.Mini_Cart_002"/>
       <class name="yarnbiz.testcases.Mini_Cart_003"/>
       <class name="yarnbiz.testcases.Mini_Cart_004"/>
       <class name="yarnbiz.testcases.Mini_Cart_005"/>
       
       <class name="yarnbiz.testcases.Cart_Page_001"/>
       <class name="yarnbiz.testcases.Cart_Page_002"/>
       <class name="yarnbiz.testcases.Cart_Page_003"/>
       <class name="yarnbiz.testcases.Cart_Page_004"/>
       <class name="yarnbiz.testcases.Cart_Page_005"/>
       <class name="yarnbiz.testcases.Cart_Page_006"/>
       <class name="yarnbiz.testcases.Cart_Page_007"/>
       <class name="yarnbiz.testcases.Cart_Page_008"/>

       <class name="yarnbiz.testcases.CheckOut_Page_001"/>
       <class name="yarnbiz.testcases.CheckOut_Page_002"/>
       <class name="yarnbiz.testcases.CheckOut_Page_003"/>
       <class name="yarnbiz.testcases.CheckOut_Page_004"/>
       <class name="yarnbiz.testcases.CheckOut_Page_005"/>
       <class name="yarnbiz.testcases.CheckOut_Page_006"/>
       <class name="yarnbiz.testcases.CheckOut_Page_007"/>
       <class name="yarnbiz.testcases.CheckOut_Page_008"/>
       <class name="yarnbiz.testcases.CheckOut_Page_009"/>
       <class name="yarnbiz.testcases.CheckOut_Page_010"/>
              
   
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
